/* 
*
*    SELETORES GERAIS
*
*/


td {
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
}

tbody.custom-label tr td {
    font-size: .8rem;
    color: #9e9e9e;
    cursor: default;
    font-weight: bold;
}

/* 
*
*   SELETORES CLASSES
*    
*/


/* Cores Dropdown */
.select-dropdown,
.select-dropdown li span,
.input-field input:focus + label {
    color: #d1c4e9;
}

td input:focus,
.row .input-field input:focus {
    color: #d1c4e9 !important;
    border-bottom: 1px solid #d1c4e9 !important;
    box-shadow: 0 1px 0 0 #d1c4e9 !important
}


/* Classe de cartões */
.card {
    border-radius: 20px;
}

.no-padd-top {
    padding-top: 0px;
}

.card-title {
    color: #d1c4e9 !important;
    font-weight: bold;
}

.top-color-card {
    border-radius: 20px 20px 0px 0px;
}

.card-title-text {
    margin-left: 20px;
}


/* Classes Tabela */
.no-border-table {
    border-collapse: separate;
}

.no-border-tbody {
    border: none;
    padding-bottom: none;
}

.custom_checkbox[type="checkbox"]:checked + span:not(.checkbox)::after{
    border-color: #d1c4e9;
    background-color: #d1c4e9 !important;
}



/*
*
* SELETORES ID
*    
*/


#ocorrencia-sessao {
    max-width: 50%;
}

#financeiro-table tr td {
    color: #9e9e9e;
    cursor: default;
}
