#ocorrencia-sessao {
    max-width: 50%;
}

.card {
    border-radius: 20px;
}

.no-border-table {
    border-collapse: separate;
}

.no-border-tbody {
    border: none;
    padding-bottom: none;
}

td {
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
}


